@import './Fonts.css';
/* importing all of the fonts */
@import './general-shared.module.css';
/* Generally used components/styles */
@import './navbar.css';
@import './footer.css';


body {
  width: 100%;
  margin: 0%;
  background-color: #0e070d;
  background-image: url('../Assets/Images/Background/black-carbon-fiber.jpg');
  background-size: contain;
  overflow: overlay;
}

/* The hide the scrollbar */

body::-webkit-scrollbar {
  width: 0em;
  display: none;
}

body::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(255, 176, 120, 0.8); */
  display: none;
}

body::-webkit-scrollbar-thumb {
  display: none;
  background-color: #2d0836;
  outline: 0.5px solid #2d0836;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgb(64, 8, 85);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Prevent anyone from highlighting unspecified spots in the site */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.coverPage {
  height: 90vh;
  padding: 1%;
  color: aliceblue;
  display: flex;
  overflow-x: hidden;
}


.coverPage::-webkit-scrollbar {
  display: none;
}

.coverPage::-webkit-scrollbar-track {
  display: none;
}

.coverPage::-webkit-scrollbar-thumb {
  display: none;
}