/* This page will act as the global for the login and signup styles (css) */
/* importing the specific signup page css */
@import './Fonts.css';

.loginOrSignupBody {
    height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.mainBody ::-webkit-scrollbar-track,
.mainBody ::-webkit-scrollbar-thumb,
.mainBody ::-webkit-scrollbar {
    display: none;
}


.pageContainer {
    height: 100vh;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center; /* x axis */
    justify-content: center; /* y axis */
}

.pageHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: whitesmoke;
}

.pageHeader:hover {
    cursor: default;
}

.welcomeTitle{
    padding: 0%;
    margin: 0%;
    font-family: DancingScript; /*WaterBrush like in wireframe... or Alex looks good too */
    font-size: 10vw;
    font-weight: lighter;
    margin-bottom: 0;
}

.welcomeSubTitle {
    margin-top: 0;
    font-family: RubikMicrobe;
    font-weight: lighter;
    font-size: 3vw;
}

.chooseLoginOrSignup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.supportContainer {
    transform: cursor 0.1s;
    color: antiquewhite;
}

.supportContainer:hover {
    cursor: help;
}



/* Specific Login and Signup Page Content */
.authContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pageTitle {
    font-family: WaterBrush;
    font-size: 8vw;
    font-weight: lighter;
    margin: 1%;
}

#LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginInput {
    background-color: #1b1b1b;
    font-size: 2.5vw;
    color: white;
    font-family: CormorantInfantBold;
    border-radius: 30px;
    padding: 5%;
    margin: 5% 1%;
    opacity: 0.8;
    text-align: center;
}

.loginInput:hover {
    opacity: 1;
}

.loginInput::placeholder {
    color: white;
    font-family: CormorantInfantBoldItalic;
    text-align: center;
}

.authSubmitButton {
    padding: 2.5vw 2vw;
    margin: 0;
    border-radius: 300px;
    font-size: 1.5vw;
    position: absolute;
    bottom: 10vh;
    right: 10vw;
    background-color: #490429;
    color: white;
    font-family: CormorantInfantBoldItalic;
    opacity: 0.75;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.authSubmitButton:hover {
    opacity: 1;
    font-size: 1.75vw;
}

#getHelp {
    margin: 0;
}

#getHelp:hover {
    cursor: help;
}

#helpTxt {
    margin: 0;
    position: absolute;
    bottom: 1vh;
    color: #ffffff;
    font-family: BerkshireSwash;
    font-size: 2.5vw;
}

.switchAuthContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1% 5% 1% 3%;
    background-color: #211E1E;
    border-top-right-radius: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.switchAuthContainer:hover {
    opacity: 1;
}

.switchAuthMethod {
    margin: 1% 0%;
    font-size: 1vw;
    font-family: CormorantInfantItalic;
}

.switchPage {
    margin: 1% 0%;
    font-size: 2vw;
    font-family: CormorantInfantBoldItalic;
}
